* {
    list-style: none;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* Navigation Menu */
img.logo {
    width: 188px;
}
.menu-icon{
    width: 29px;
}
.navigation{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.hamburger{ 
    background-color: transparent;
    border: 0;
    display: block;
    cursor: pointer;
}
.hamburger:focus{
    outline: none;
}
.nav-bar{
    display: none;
    align-items: center;
    padding: 0;    
}
.nav-bar.show{
    display: flex;
    flex-direction: column;
    width: 100%;
    line-height: 2.5em;
}

.nav-li a{
    color: black; 
}

.login-button{
    border-color: #488EFF;
    color: #488EFF;
    font-weight: 700;
    background-color: white;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 0.1cm;
}

/* hero section */
header{
    text-align: left;
}
.hero {
    background-image: url('./images/hero-background.png');
    background-size: cover;
    padding: 40px;
    margin-bottom: 100px;
}
.hero-section{
    padding: 70px 100px;
}
h1{
    font-family: 'Alegreya', serif; 
    font-size: 40px;
    margin-bottom: 0.4em;
}
h2 {
    font-family: 'Alegreya', serif; 
    font-size: 35px;
    margin-bottom: 0.4em;
}

h3{
    font-family: 'Nunito Sans', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 0.4em;
}
p .hero-para {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 1.7em;
}
p{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
}
.btn-started{
    border: none;
    background-color: #488EFF;
    color:white;
    padding: 10px 30px;
    border-radius: 15px 0px 15px 0px;
    box-shadow: -4px 5px rgba(72, 142, 255, 0.57);
}
/* Featured On Section */
h6{
    font-family: 'Alegreya', serif; 
    font-size: 24px;
    text-align: center;
    line-height: 1.5em;
}
.fea-brands {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
.fea-brand {
    width: 20%;
    padding: 20px 50px;
    margin: 10px 20px 10px 20px;
}

/* About Section */
h4 {
    font-family: 'Alegreya', serif; 
    font-size: 20px;
    margin: 0.7em;
}
.container {
    display: flex;
    flex-direction: column;
    margin: 0px 50px;
}

.row {
    padding: 20px;
}
h5 {
    font-family: 'Alegreya', serif;
    font-size: 20px;
    margin-bottom: 0.7em;
}
p{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400; 
    font-size: 18px;
}
.link-tag {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700; 
    font-size: 17.5px;
    text-decoration: underline #488EFF;
    text-underline-position: under;
    color: rgb(0, 0, 0);
}
.about-us-heading{
    margin-left: 90px;
    line-height: 3em;
}
.about-us{
    padding: 50px;
    background-color: rgba(72, 142, 255, 0.132);
    text-align: left;
}
.about-us-content{
    padding: 20px;
}

.about-us-team{
    position: relative;
    top: 5px;
    padding: 20px;
    background-color: white;
    box-shadow: -7px 7px 7px 4px rgba(72, 142, 255, 0.043);
    border-radius: 0px 55px 0px 55px;
    text-align: center;
}
.about-role{
    font-size: 11px;
}
.about-us-image{
    width: 150px;
}
/* Our Features Section */
.features {
    padding: 40px 30px;
}
.section-center {
    text-align: center;
}
.section-para {
    font-weight: 600; 
    font-size: 18px;
}
.features-content {
    padding: 100px 90px 0px;

}

/* Testimonal Section */
.testimonials {
    padding: 50px;
    background-color: rgba(72, 142, 255, 0.132);
    text-align: center;
}
.testimonials-container{
    margin: 0 50px; 
}
.test-para{
    font-style: italic;
    padding: 20px;
    line-height: 2em;
}
.column-3 {
    text-align: left;
}
.column {
    background-color: white;
    box-shadow: -7px 7px 7px 4px rgba(72, 142, 255, 0.043);
    border-radius: 0px 35px 0px 35px;
    display: inline-block;
    padding: 5px 15px;
    margin: 20px;
}
.sub-container {
    display: flex;

}
.circle {
    height: 50px;
    width: 50px;
    background-color: rgba(97, 102, 111, 0.118);
    border-radius: 50%;
    display: inline-block;
}
.middle{
    background-color: #488EFF;
}
.website-name {
    color: #488EFF;
    text-align: center;
    font-size: 16px;
    margin-bottom: 1.7em;
}

/* Getstarted section */
.getstarted-section {
    background-color: #2C3964;
    color: white;
    border-radius: 0px 55px 0px 55px;
}
.getstarted-content{
    margin: 20px;
}
.get-started-button{
    padding: 5px;
    margin: 10px 20px 30px 30px;
}

/* 
Footer Section  */
.info-footer {
    display: flex;
}
.footer-row{
    display: flex;
    flex-wrap: wrap;
    margin: 40px 70px;
    flex-direction: column;
}
.footer-column{
    flex: 50%;
    padding: 20px;
}

.footer-bottom{
    display: flex;
    margin: 40px 70px;
}
.footer-li{
    display: inline-block;
    padding: 6px;
}
.social-footer {
    display: flex;
    margin: 0px 0px 0px auto;
}
.info-footer a{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

/* TRBL */

/* Nunito Sans
Regular 400
Semi-bold 600
Bold 700
Alegreya
Medium 500 
button color: #488EFF
*/
 

/* Desktop Design */
@media screen and (min-width: 768px){
/* Navigation Menu */
    .navigation{
        padding: 20px 90px 20px 90px;
    }
    .nav-bar {
        display: flex;
    }
    .nav-li {
        text-transform: uppercase;
        display: inline-block;
        padding: 5px 15px;
    } 
    .hamburger{
        display: none;
    }
/* hero Section */
    h1{
        font-size: 60px;
    }
    h3{
        font-size: 30px;
    }
    p .hero-para {
        font-size: 21px;
    }
    .btn-started {
        font-size: 18px;
    }
/* Featured On Section */
    .features {
        padding: 40px 90px;
    }
    .fea-brands{
        padding: 20px 80px 60px 80px;
    }
    .fea-brand {
        width: 12%;
        padding: 20px 50px;
        margin: 10px 20px 10px 20px;
    }
/* About Section */
    h4 { 
        font-size: 42px;
    }
    h5 {
        font-size: 30px;
    }
    .container{
        flex-direction: row;
        margin: 0 100px;
    }
    .about-us-team{
        position: relative;
        top: -100px;
        left: -10px;
        padding: 30px;
    }
    .about-us-image{
        width: 183px;
    }
/* Our Features Section */
    .section-para {
        font-size: 21px;
    }
/* Testimonal Section */
.testimonials {
    padding: 50px;
}
.testimonials-container{
    margin: 0 100px; 
}
/* Getstarted section */

.getstarted-content{
    margin: 50px;
}
.get-started-button{
    padding: 5px;
    margin: 110px 30px 50px 100px;
}
.btn{
    padding: 20px 40px;
}
/* Footer Section  */ 
.footer-row{
    flex-direction: row;
}
.footer-column{
    flex: 25%;
    
}

}