* {
    list-style: none;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
html,body{
    overflow-x: hidden;
}
p, blockquote{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

/* Navigation Menu */
img.logo {
    width: 188px;
}
.menu-icon{
    width: 29px;
}
.navigation{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.hamburger{ 
    background-color: transparent;
    border: 0;
    display: block;
    cursor: pointer;
}
.hamburger:focus{
    outline: none;
}
.nav-bar{
    display: none;
    align-items: center;
    padding: 0;    
}
.nav-bar.show{
    display: flex;
    flex-direction: column;
    width: 100%;
    line-height: 2.5em;
}
.nav-li {
    padding: 5px;
    text-transform: uppercase;
    display: inline-block;
}

.nav-li a{
    color: black; 
}

.login-button{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    border-color: #488EFF;
    color: #488EFF;
    font-weight: 600;
    background-color: white;
    display: inline-block;
    padding: 6px 25px;
    box-shadow: 4px 5px rgba(72, 142, 255, 0.063);
    border-radius: 0.1cm;
}

/* hero section */
header{
    text-align: left;
}
.hero {
    background-image: url('./images/hero-background.svg');
    background-size: cover;
    padding: 40px;
    margin-bottom: 100px;
}
.hero-section{
    padding: 20px 30px;
}
h1, h2, h3 {
    margin-bottom: 0.4em;
}
h1{
    font-family: 'Alegreya', serif; 
    font-size: 40px;
}
h2 {
    font-family: 'Alegreya', serif; 
    font-size: 30px;
    font-weight: 400;
}

h3{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 25px;
    font-style: italic;

}
.para {
    font-weight: 600;
    font-size: 14px;
    line-height: 2em;
}

.btn-started{
    border: none;
    background-color: #488EFF;
    color:white;
    padding: 10px 30px;
    border-radius: 15px 0px 15px 0px;
    box-shadow: -4px 5px rgba(72, 142, 255, 0.57);
}
/* Featured On Section */

.fea-brands {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.fea-brand {
    padding: 20px 30px;
}

/* About Section */
h4 {
    font-family: 'Alegreya', serif;
    font-size: 20px;
    margin-bottom: 0.7em;
    
}
.container {
    display: flex;
    flex-direction: column;
}
.para{
    margin-bottom: 1.3em;
}

.link-tag {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700; 
    font-size: 14px;
    text-decoration: underline #488EFF;
    text-underline-position: under;
    color: rgb(0, 0, 0);
}
.about-us-heading{
    text-align: center;
    padding: 40px;
}
.about-us{
    padding: 20px;
    background-color: rgba(72, 142, 255, 0.132);
    text-align: left;
}
.about-us-content{
    padding: 20px;
}


.about-us-team{
    position: relative;
    top: 5px;
    padding: 20px;
    background-color: white;
    box-shadow: -7px 7px 7px 4px rgba(72, 142, 255, 0.043);
    border-radius: 0px 55px 0px 55px;
    text-align: center;
}
.about-role{
    font-size: 11px;
}
.about-us-image{
    width: 150px;
}
/* Our Features Section */
.featured-header{
    padding: 40px;
}
.features {
    padding: 40px;
}
.fea-image {
    width: 250px;
}
.section-center {
    text-align: center;
}
.section-para {
    font-weight: 600; 
    font-size: 18px;
}
.features-content {
    padding: 10px 40px 0px;
}

/* Testimonal Section */
.testimonials {
    padding: 20px;
    background-color: rgba(72, 142, 255, 0.132);
    text-align: center;
}
.testimonials-container{
    margin: 0 50px; 
}
.test-para{
    font-style: italic;
    text-align: left;
    margin-bottom: 20px;
}
.test-row{
    padding: 5px;
}

.column {
    background-color: white;
    box-shadow: -7px 7px 7px 4px rgba(72, 142, 255, 0.043);
    border-radius: 0px 35px 0px 35px;
    display: inline-block;
    padding: 5px 15px;
    margin: 10px;
}
.sub-container {
    display: flex;

}
.circle {
    height: 50px;
    width: 50px;
    background-color: rgba(97, 102, 111, 0.118);
    border-radius: 50%;
    display: inline-block;
}
.middle{
    background-color: #488EFF;
}
.website-name {
    color: #488EFF;
    text-align: center;
    font-size: 16px;
    margin-bottom: 1.7em;
}

/* Getstarted section */
.get-started{
    padding: 40px;
}
.getstarted-section {
    background-color: #2C3964;
    color: white;
    border-radius: 0px 55px 0px 55px;
}
.getstarted-content{
    margin: 30px;
}
.get-started-button{
    padding: 5px;
    margin: 10px 30px 30px 30px;
}

/* 
Footer Section  */
h5{
    font-family: 'Alegreya', serif; 
    font-size: 18px;
    line-height: 1.5em;
    text-align: center;
}
footer {
    padding: 40px;
}

.footer-row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.footer-column{
    flex: 50%;
    padding: 40px;
}
.footer-bottom{
    margin: 0px 20px;
}
.footer-line{
    border-bottom: 0.2px solid rgba(72, 142, 255, 0.288);
}
.info-footer{
    margin-bottom: 10px;
}
.info-footer p, .info-footer a{
    font-size: 14px;
}
.info-footer a{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    padding: 0;
    color: #488EFF;
}
.footer-li p {
    color: black;
}


.footer-li{
    display: inline-block;
    padding: 6px;
}
.social-footer {
    display: flex;
    margin: 0px 0px 0px auto;
}


/* TRBL */

/* Nunito Sans
Regular 400
Semi-bold 600
Bold 700
Alegreya
Medium 500 
button color: #488EFF
*/

 

/* Ipad and Desktop Design */
@media screen and (min-width: 768px){

/* hero Section */
    h1{
        font-size: 60px;
    }
    h2{
        font-size: 42px;
    }
    .para {
        font-size: 21px;
    }
    .hero-section{
        padding: 70px 100px;
    }
    .btn-started {
        font-size: 18px;
    }
/* Featured On Section */
    .features {
        padding: 40px 90px;
    }
    .fea-image {
        width: 470px;
    }
    .fea-brands{
        padding: 20px 30px 30px 30px;
        margin: 50px 20px;
    }
    
/* About Section */
    h3 { 
        font-size: 30px;
    }
    h4 {
        font-size: 24px;
    }
    .link-tag {
        font-size: 17.5px;
    }
    .container{
        flex-direction: row;
        margin: 0 100px;
    }
    .about-us{
        padding: 40px;
    }
    .about-us-team{
        top: -100px;
        left: -10px;
        padding: 30px;
    }
    .about-us-image{
        width: 183px;
    }
    .about-us-heading{
        text-align: left;
        padding: 100px;

    }
    
/* Our Features Section */
    .section-para {
        font-size: 21px;
    }
    .features-content {
        padding: 100px 90px 0px;
    }
    .column {
        margin: 20px;
    }
/* Testimonal Section */
    .testimonials {
        padding: 50px;
    }
    .testimonials-container{
        margin: 0 100px; 
    }
    .test-para{
        text-align: center;
    }


/* Getstarted section */

    .getstarted-content{
        margin: 50px;
    }
    .get-started-button{
        padding: 5px;
        margin: 110px 30px 50px 100px;
    }
    .btn{
        padding: 20px 40px;
    }
/* Footer Section  */ 
    h5{
        font-size: 21px;
    }
    .footer-row{
        flex-direction: row;
    }
    .footer-column{
        flex: 25%;
        
    }
    footer li, .footer-p{
        line-height: 2em;
    }
    .footer-bottom{
        margin: 30px 40px;
    }
    .footer-bottom{
        display: flex;
    
    }
    .info-footer a, .info-footer p{
        font-size: 18px;
    }

}

@media only screen and (min-width: 1024px){
    /* Navigation Menu */
    .navigation{
        padding: 20px 90px 20px 90px;
    }
    .nav-li {
        padding: 5px 25px;
        text-transform: uppercase;
        display: inline-block;
    }
    .nav-bar {
        display: flex;
    }
    .hamburger{
        display: none;
    }
}